body {
    background-color: #f0f0f0;
    background-image: url(https://external-preview.redd.it/l9D6pZrjb7Uog5JvyzwN-TyxiRdBIXWyHroMWa6QAIs.jpg?auto=webp&s=dc98855919f997ec07b96af63ea2881a64b042d2);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ee0c0c;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.profile-image {
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.021);
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links p {
    color: #f00707;
    margin-bottom: 15px;
    font-size: 18px;
}

.social-links a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #6c63ff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #5046e5;
} 